.campo-entrada-form {
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #4a4949;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}

.campo-entrada-form::placeholder {
  color: #4a4949;
}
